.chats-screen {
  background-color: #abc1d1;
  height: 11000vh;
}

.chats-screen .alt-header,
.chats-screen .status-bar {
  top: 0;
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

.main-chats {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats-screen .status-bar {
  z-index: 2;
}

.chats__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 20px;
}
