.chats-screen {
  background-color: #abc1d1;
  height: 500vh;
}

.chats-screen .alt-header,
.chats-screen .status-bar {
  top: 0;
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

@keyframes fadeIn {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chats {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chats-screen .status-bar {
  z-index: 2;
}

.chats__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 10px 13px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  display: flex;
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-left: 5px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -4.5px;
  top: 1px;
}

.reply__column:last-child > i {
  right: 30px;
  top: 0.5px;
}

.reply__column button {
  background-color: var(--yellow);
  border: 3px solid grey;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.reply i {
  opacity: 0.7;
}

.reply__column i,
.reply__column button:hover {
  cursor: pointer;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  transform: translateX(-13%);
  width: 98vw;
}
