.user-component__subtitle i {
  margin-left: 5px;
  color: hotpink;
}

.icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 25px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  color: rgba(0, 0, 0, 0.65);
  margin: 10px 0px;
  box-sizing: border-box;
  transition: color 0.25s ease-in-out;
}

.icon-row__icon:hover {
  cursor: pointer;
  color: hotpink;
}
.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  margin-top: 20px;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__tittle {
  margin-bottom: 30px;
}

.more-suggestions__icon img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.25s ease-in-out;
}

.more-suggestions__icon:hover {
  cursor: pointer;
  color: hotpink;
}

.user-component__subtitle:hover {
  cursor: pointer;
  color: hotpink;
  transition: 0.3s ease-in-out;
}
