.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__setting i {
  margin-right: 20px;
  font-size: 20px;
  opacity: 0.8;
}
.settings__setting:hover {
  cursor: pointer;
  color: hotpink;
}

.settings__setting-column:last-child {
  opacity: 0.5;
  color: black;
}
